p {
    color: pink;
    font-style: italic;
    font-size: medium;
}

h1 {
    color: blueviolet;
    font-style: italic;
    font-size: larger;
}

h2 {
    color: palevioletred;
    font-size: medium;
}